
label{

    display: inline-block;
    width: 60px;
    margin-top: 0.3rem;
    margin-top: 0.3rem;
}

input{
    display: inline-block;
    margin-top: 0.3rem;
    margin-top: 0.3rem;
}

.button{
    margin-left: 60px;
    border-radius: 4px;
    margin-top: 0.3rem;
    margin-top: 0.3rem;
}

.dropdown{
    margin-left: 0;
    margin-top: 0.3rem;
    margin-top: 0.3rem;
}